body{
    margin: 0;
    background-image: url(marketbackground.png);
    background-position: bottom center;
}
header{
    height: 145px;
}
header ul li{
    display: inline-block;
    border: solid 0px;
    background-color: #003521 ;
    border-radius: 5px;
    color: azure;
    padding: 5px;
    font-family:cursive;
}

.header{
    background-color: #003521;
    display: flex;
    justify-content: center;
    
}

.logo{
    margin-left: 20px;
}

.name{
    margin-top: 2px;
}

.name p{
    color: white;
    font-size: xx-large;
}

.login{
    
    text-align: center;
    background-color: aqua;
}