.pcontainer{
    background-color:rgb(75, 90, 50);
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
}

.sidebar ul li{
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(192, 192, 149);
    padding: 10px;
    border-radius: 10px;
    color: rgb(51, 49, 49);
    transition: 0.3s;
    cursor: pointer;
}

.sidebar ul li:hover{
    background-color:rgb(216, 216, 192);
    transition: 0.3s;
}
#user-info p{
    background-color:rgb(192, 192, 149);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

#edit-info p{
    background-color:rgb(192, 192, 149);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

#changepassinfo p{
    background-color:rgb(192, 192, 149);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}


#itemsell p{
    background-color:rgb(192, 192, 142);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

#user-info button{
    background-color: rgb(58, 26, 26);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color:white;
    cursor: pointer;
    

}
#user-info button:hover{
    background-color: rgb(61, 38, 38);
    transition: 0.3s;
}

#edit-info button{
    background-color:#003521;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color:white;
    cursor: pointer;
}
#edit-info button:hover{
    background-color: rgb(61, 38, 38);
    transition: 0.3s;
}

#changepassinfo button{
    background-color:#003521;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color:white;
    cursor: pointer;
    border-radius: 10px;
}

#changepassinfo button:hover{
    background-color: rgb(61, 38, 38);
    transition: 0.3s;
}


.container  img{
    height: 250px;
    width: 250px;
}