.pcontainer{
    background-color:rgb(75, 90, 50);
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
}

.sidebar ul li{
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(192, 192, 149);
    padding: 10px;
    border-radius: 10px;
    color: rgb(51, 49, 49);
    transition: 0.3s;
    cursor: pointer;
}

.sidebar ul li:hover{
    background-color:rgb(216, 216, 192);
    transition: 0.3s;
}
#user-info p{
    background-color:rgb(192, 192, 149);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

#edit-info p{
    background-color:rgb(192, 192, 149);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

#changepassinfo p{
    background-color:rgb(192, 192, 149);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}


#user-info button{
    background-color: rgb(58, 26, 26);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color:white;
    cursor: pointer;
    

}
#user-info button:hover{
    background-color: rgb(61, 38, 38);
    transition: 0.3s;
}

#edit-info button{
    background-color:#003521;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color:white;
    cursor: pointer;
}
#edit-info button:hover{
    background-color: rgb(61, 38, 38);
    transition: 0.3s;
}

#changepassinfo button{
    background-color:#003521;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color:white;
    cursor: pointer;
    border-radius: 10px;
}

#changepassinfo button:hover{
    background-color: rgb(61, 38, 38);
    transition: 0.3s;
}


.container  img{
    height: 250px;
    width: 250px;
}

.orders {
    min-height: 250px;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
   
}

.orders .emptmsg {
    font-size: x-large;
    font-family: cursive;
}
/* Modal */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 149);
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    max-width: 80%;
    position: relative;
}
.modal-content form{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.modal-content form label{
    background-color:rgba(61, 38, 38, 0.795) ;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}

.modal-content form label input[type=text]{
    background-color: rgb(235, 212, 185);
}

.modal-content button{
    background-color: rgba(32, 20, 20, 0.795) ;
    color: white;
    cursor: pointer;
    margin-bottom: 3px;
}
.modal-content button:hover{
    background-color: rgba(85, 61, 61, 0.795) ;
    cursor: pointer;
    transition: 0.3s;
}

.modal-content p{
    font-size: x-large;
}
.close{
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    width: fit-content;
    border-radius: 250px;
    margin-bottom: 2px;

}
.close:hover{
   background-color: aliceblue;
   transition: 0.3s;
}